@media(max-width:992px){
    #home .right{
        display: none;
    }

.nav-category .menu{
margin-top: 3rem;
}

.categories{
display: none;
}


.nav-top{
    display: flex;
    flex-wrap: wrap;
}
#navbar .logo{
    order: 1;
}

.search{
    display: flex;
    justify-content: center;
    width: 100%;
    order: 3;
}
.search i{
    transform: translate(-40px, 10px);
}

.profile{
    order: 2;
}

#foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
      text-align: center;
}

#foot .foot-right{
    display: flex;
    flex-direction: column;
  
}

#foot .foot-left p{
 width: 100%;
margin-bottom: 2rem;
}
.foot-right .part{
    margin-left:0;
    margin-bottom: 1rem;
}
}